body {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 320px;
    margin: 0 auto;
    font-family: "Arial", "Verdana", sans-serif;
    font-size: 14px;
}

#container {
    margin: 50px 30px;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#container div {
    position: relative;
    display: inline-block;
    background-color: #4A90E2;
    color: white;
    border-radius: 10px;
    width: calc(25% - 20px - 2px);
    font-size: 40px;
    font-weight: bold;
    padding: 10px;
    margin: 1px;
    z-index: 2;
    cursor: pointer;
    letter-spacing: -3px;
}

#container div:active {
    padding: 8px;
    border: 2px solid rgb(23, 92, 173);
}

#container div:focus {
    outline: 0;
}

#container .empty {
    background-color: white;
    z-index: 1;
    cursor: default;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 15px 0 15px;
}

.header p {
    color: #B3B3B3;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 8px 0;
}

.header img {
    width: 25px;
    margin-right: 7px;
    position: relative;
    top: 5px;
}

.header span {
    font-size: 20px;
    font-weight: 600;
    font-stretch: extra-expanded;
    color: #808080;
}

.controls {
    display: flex;
    flex-direction: column;
    margin: 0 15px 15px 30px;
}

.controls button[name='Start'] {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 0;
    margin-bottom: 8px;
    color: #4A4A4A;
    background-color: #50E3C2;
    border: 2px solid #50E3C2;
    border-radius: 5px;
    cursor: pointer;
}

.controls button[name='Win'] {
    font-size: 18px;
    font-weight: 600;
    padding: 12px 0;
    color: #50E3C2;
    background-color: white;
    border: 2px solid #50E3C2;
    border-radius: 5px;
    cursor: pointer;
}

.controls button:active {
    border: 4px solid #12715b;
    border-radius: 5px;
}

.controls button:focus {
    outline: 0;
}
